<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{^currentUser}}
    <div>
        <h3>네이버 로그인</h3>
        <a href="{{apiURL}}"><img height="50" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/></a>
    </div>
    {{/currentUser}}

    {{#currentUser}}
    <div>
        <h3>이 부분은 로그인한 사용자한테만 보임</h3>
        <pre>{{currentUser}}</pre>
        <a href="/naver/getProfile?accessToken={{currentAT}}">Get User's Profile</a>
        <a href="/naver/refreshToken?refreshToken={{currentRT}}">Refresh Token</a>
        <a href="/naver/deleteToken?accessToken={{currentAT}}">Delete Token</a>
        <a href="/naver/invalidate">로그아웃 (Invalidate Session)</a>
    </div>
    {{/currentUser}}
</body>
</html>